// Place all the styles related to the Movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.reviews {
    margin-left: 100px;
}

.align-item {
    justify-content: center;
    align-items: center;
}